<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Cat Vote</title>
</head>
<body>
  
 
  
    <img src="<%= catImage.url %>">

    <form action="/upvote/<%=catImage._id%>?_method=PATCH" method="POST">
      <button id="upVoted">upvote</button>
    </form>

    <form action="/downvote/<%=catImage._id%>?_method=PATCH" method="POST">
      <button id="downVoted">downvote</button>
    </form>

    <form class="submitForm" action="/" method="post">
      <input type="text" placeholder="paste cat image url" name="catUrl">
      <button class="myButton" type="submit">ADD CATS!</button>
    </form>

  

</body>
</html>