<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Success!</title>
</head>
<body>
  
  <div class="container">

    <p>Thanks for submitting!</p>
  
    <img class="hero" src="<%= newCat %>">
  
    <div class="voting">
      <form action="/">
        <button class="button" type="submit"></i>Go Back!</button>
      </form>
    </div>

  </div>

</body>
</html>