@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display+SC&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2, h3, h4, blockquote, q{
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  
}

p, a, ::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

a{
  color: white;
}

::placeholder{
  color: white;
  opacity: 1;
}

html, body{
  background-color: #dedede;
}

/* Elements */

.spacer{
  width: 200px;
  border: 1px solid peru;
}

.main-image{
  width: 90px;
  height: 90px;
  margin-top: 20px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 2px 8px 24px -5px rgba(0,0,0,0.5);
}

.main-title, .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container{
  margin-top: 50px;
}

.votedImg{
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.hero{
  object-fit: cover;
  width: 600px;
  height: 600px;
  border: 5px solid white;
  box-shadow: 2px 8px 24px -5px rgba(0,0,0,0.5);
}

.upvoted, .downvoted{
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 750px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 100ms ease;
}

.button:hover{
  transform: scale(1.1);
}

.down{
  background-color: red;
}

.gallery{
  display: flex;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voting{
  display: flex;
  margin: 25px 10px;
}

.submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: silver;
  padding: 50px;
  margin-top: 20px;
}

.submitForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitForm > .button{
  width: 300px;
  margin-top: 20px;
}

input[type="text"]{
  margin-top: 50px;
  text-align: center;
  font-size: 1em;
  width: 750px;
  padding: 5px;
  background-color: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color: white;
}


.gallery-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgoldenrodyellow;
  padding-top: 20px;
  padding-bottom: 50px;
}

.gallery-container > h2, hr, p{
  margin: 10px 0;
}

.noped{
  background-color: wheat;
}

#upVoted, #downVoted{
  margin: 0 20px;
  padding: 10px 15px;
}

footer{
  padding: 10px;
  text-align: center;
  background-color: darkslategrey;
  color: gainsboro;
}

.fas{
  margin-right: 10px;
}

.fab{
  font-size: 2em;
}

.fa-cat{
  font-size: 3em;
}